@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.vapor-editor-button {
    background-color: white;
    height: 1em;
    padding: 0.4em 1em 0.5em 1em;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    transition: background-color 0.1s, opacity 0.1s;
    pointer-events: auto;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

.vapor-editor-button-selected {
    outline-style: solid;
    outline-width: 4px;
    outline-color: white;
    outline-offset: -4px;
}

.vapor-editor-button:hover {
    background-color: rgba(255,255,255,0.7);
}

.vapor-editor-disabled.vapor-editor-button,
.vapor-editor-disabled *.vapor-editor-button {
    cursor: default;
    opacity: 0.5;
    background-color: white;
}

.vapor-editor-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: rgba(255,255,255,0.5); */
    z-index: 2;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    pointer-events: none;
}

.vapor-editor-button-row {
    display: flex;
    flex-wrap: nowrap;
    height: max-content;
    max-width: 100%;
    pointer-events: auto;
    overflow-x: scroll;
    /* -ms-overflow-style: none; 
    /* scrollbar-width: none;  Firefox */
}

/* Hide scrollbar for Chrome, Safari, Opera */
.vapor-editor-button-row::-webkit-scrollbar { 
    display: none;
}

.vapor-editor-button-row>.vapor-editor-button {
    margin: 0 1em 0 0;
}

.vapor-editor-button-row-stack {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.vapor-editor-button-row-stack>.vapor-editor-button-row {
    margin-bottom: 1em;
}

.vapor-editor-object-editor-title-row>.vapor-editor-button {
    margin: auto;
}
.vapor-editor-input {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  /* border-color: red; */
  border: 0;
  outline-style: solid;
  outline-color: #BBB;
  outline-width: 2px;
  outline-offset: -2px;
  padding: 0.4em 0.5em 0.5em 0.5em;
  pointer-events: auto;
  width: 100%;
}

.vapor-editor-input:focus {
  outline-color: white;
}

.vapor-editor-input-default {
  color: #BBB;
}

.vapor-editor-input-invalid {
  outline-color: #9e3b3b;
}

.vapor-editor-object-editor {
    background-color: rgba(0,0,0,0.5);
    padding: 20px 20px 20px 20px;
    pointer-events: auto;
}

.vapor-editor-object-editor-form {
    border-collapse: collapse;
    width: 100%
}

.vapor-editor-label {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: auto;
    white-space: nowrap;
}

.vapor-editor-grouped-cells-row {
    /* display: flex; */
    /* flex-direction: column; */
}

.vapor-editor-grouped-cells-row {
    margin-bottom: 0;
}

.vapor-editor-grouped-cells-row *+*  {
    margin-left: 10px;
}

.vapor-editor-grouped-cells-row .vapor-editor-button-row {
    margin-bottom: 10px;
}

.vapor-editor-object-editor-title {
    /* width: fit-content; */
}

.vapor-editor-object-editor-title-row {
    display: inline-flex;
}

.vapor-editor-object-editor-title-row *+* {
    margin-left: 10px !important;
}

.vapor-editor-post-form-row {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.vapor-editor-post-form-row * {
    margin: 0 !important;
}

.vapor-editor-post-form-row *~* {
    margin: 0 0 0 1em !important;
}

.vapor-editor-close-button {
    color: white;
    background-color: #9e3b3b;
}

.vapor-editor-close-button:hover {
    color: white;
    background-color: #9e3b3b7e;
}

.vapor-editor-disabled.vapor-editor-close-button,
.vapor-editor-disabled *.vapor-editor-close-button {
    cursor: default;
    opacity: 0.5;
    background-color:#9e3b3b;
}

.vapor-editor-searchable-list-entry-list {
    display: flex;
    flex-direction: column;
}

.vapor-editor-searchable-list-entry {
    background-color: white;
    height: 1em;
    padding: 0.4em 1em 0.5em 1em;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    pointer-events: auto;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.1s, opacity 0.1s;
}

.vapor-editor-searchable-list-entry:hover {
    background-color: rgba(255,255,255,0.7);
}

.vapor-editor-searchable-list .vapor-editor-input {
    padding: 0 0.5em 0 0.5em;
}

.vapor-editor-searchable-list>*+* {
    padding-top: 1em;
}

.vapor-editor-searchable-list-entry-list>* {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}